<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EHajiri - Start Page</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/PortalPage/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/PortalPage/css/small-business.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        label {
            font-weight: 100;
            text-align: left !important;
        }

        a {
            color: #000000;
        }

        .navbar-inverse {
            background-color: #7AC143;
            border-color: #EEEEEE;
        }

            .navbar-inverse .navbar-brand {
                color: #FFFFFF;
            }

            .navbar-inverse .navbar-nav > li > a {
                color: #FFFFFF;
            }

        body {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            background-color: #EEEEEE;
        }

        .TabColor {
            background-color: #EEEEEE;
        }

        .font {
            font-size: 16px;
        }

        .fontcolor {
            color: #6eae3c;
        }

        .titleColor {
            color: #427d14;
        }

        .input-group-addon {
            border: 0px solid #ccc;
        }
    </style>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    @*<img src="~/Images/resize.png" />*@
                    <img src="~/Images/rsz_1zklogo2.png" />
                </a>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">
                            <strong>EHajiri</strong>

                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
        <!--  Row -->
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-md-6 font">
                <h2 class="titleColor">Partner Activation</h2>

                <p class="text-success">
                    <strong>
                        Info 
                    </strong> @ViewBag.Message
                </p>
                <a  class="btn btn-success btn-block btn-flat" href="/">Go To Login Page </a>

                @*<img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">*@
            </div>
            <!-- /.col-md-8 -->
            
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <!-- Call to Action Well -->
      
        <!-- /.row -->
        <!-- Footer -->
        <footer>
            <div class="row">
                
                <div class="col-lg-12">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-8">
                        <p>Copyright &copy; ehajiri.com 2017-2022</p>
                    </div>
                    
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="~/Content/PortalPage/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/PortalPage/js/bootstrap.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    
</body>
</html>
