@model RTech.Demo.Areas.User.Controllers.UserController.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Adminlte.cshtml";
}
@using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "ajaxSuccess(data)" }))
{
    
    <style>
        .content {
            min-height: 281px;
            padding: 15px;
            margin-right: auto;
            margin-left: auto;
            padding-left: 15px;
            padding-right: 15px;
        }
    </style>
    <section class="content">
        <div class="row col-lg-12">
            <div class="header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <header><h3 class="text-center">Change Password</h3></header>
            </div>
            <div class="form-horizontal" data-bind="with:ChangePasswordViewModel">
                <div class="form-group">
                    <label class="col-lg-4 control-label" for="Number">User Name</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" required id="form-group-input " value="@Model.UserName" name="UserName" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label" for="Number">Current Password</label>
                    <div class="col-lg-4">
                        <input type="password" class="form-control" required id="form-group-input " placeholder="CurrentPassword" name="CurrentPassword">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label" for="Number">New Password</label>
                    <div class="col-lg-4">
                        <input type="password" class="form-control" required id="form-group-input " placeholder="NewPassword" name="NewPassword">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label" for="Number">Confirm Password</label>
                    <div class="col-lg-4">
                        <input type="password" class="form-control" required id="form-group-input " placeholder="ConfirmPassword" name="ConfirmPassword">
                    </div>
                </div>
                @*<div class="form-group">
                    <label class="col-lg-4 "></label>
                    <div class="col-lg-4">
                        <input type="password" class="form-control" required id="form-group-input " placeholder="ConfirmPassword" name="ConfirmPassword">
                    </div>
                </div>*@
                <div class="form-group">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-8">
                        <input type="submit" data-bind="click:$root.ChangePassword" name="Save" class="btn btn-success" value="Change" />
                        <input type="reset" data-bind="click:$root.Reset" name="Reset" value="Reset" class="btn bg-black" />
                    </div>
                </div>
            </div>

        </div>
    </section>
}
